*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#restart-button{
    font-size: 20px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 10px;
    height: 100vh;
}

.container{
    padding: 50px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controlbar{
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.numbers{
    margin: 0;
    width: 40px;
}